

/mnt/propitix_opt 54.237.101.247(rw,sync,no_subtree_check)
/mnt/propitix_apps 54.237.101.247(rw,sync,no_subtree_check)
/mnt/propitix_logs 54.237.101.247(rw,sync,no_subtree_check)
/mnt/propitix_db 54.237.101.247(rw,sync,no_subtree_check)
