---
- hosts: all
  remote_user: root

  tasks:
  - name: ensure nfs is at the latest version
    apt: name=nfs-common state=latest

  - name: update the packages
    apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

  - name: Upgrade all apt packages
    apt: upgrade=dist force_apt_get=yes

  - name: Set timezone to America/New_York
    timezone:
     name: America/New_York

